* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.btn-sair {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #2E3B84;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 10; /* fica acima de tudo */
    transition: background-color 0.3s;
}

.btn-sair:hover {
    background-color: #1f285e;
}

body {
    background-color: #E7EBF2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* evita scroll com partículas */
    position: relative;
}

/* Fundo com partículas */
.bg-particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

/* Container geral */
.login-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    position: relative;
    z-index: 1; /* ficar acima das partículas */
}

/* Lado esquerdo */
.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mascote {
    width: 70%;
    max-width: 350px;
}

/* Lado direito */
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin: 10px 0 5px;
    font-size: 0.9rem;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
}

button {
    background: #2E3B84;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1f285e;
}

/* IARINHA ANIMATION */
/* Animação da mascote */
.mascote {
    width: 70%;
    max-width: 350px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* sobe */
    }
    100% {
        transform: translateY(0); /* volta */
    }
}


/* Responsividade */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: center;
    }
    .left-side {
        margin-bottom: 20px;
    }

    .btn-sair {
        top: 12px;
        left: 12px;
        padding: 8px 12px;
        font-size: 0.85rem;
        gap: 6px;
    }
}