#todas_colunas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#todas_colunas a{
    text-decoration: none;
    color: #12131A;
}

#todas_colunas li{
    list-style: none;
    margin-top: 20px;
}

#direitos{
    margin-top: 70px;
    text-align: center;
}

#direitos p{
    margin-top: 40px;
    margin-bottom: 40px;
}

#direitos hr {
    border: none;
    border-top: 1px solid #ccc;
    width: 90%;
    margin: 20px auto;
}

@media screen and (max-width: 600px){
    #todas_colunas{
        flex-direction: column;
        gap: 20px;
    }
}
