header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    transition: all 0.3s ease;
    z-index: 1000;
}

body {
    padding-top: 90px;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.nav-item.active a {
    color: #17396D;
    font-weight: 700;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

/* ANIMATIONS */
header.scrolled {
    padding: 15px 8%;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.nav-item a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #17396D;
    transition: width 0.3s ease;
}

.nav-item a:hover {
    color: #17396D;
}

.nav-item a:hover::after {
    width: 100%;
}


/* RESPONSIVITY */
@media screen and (max-width: 1170px) {

    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

    #mobile_menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 20px 0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        z-index: 998;
        display: none;
    }

    #mobile_menu.active {
        display: flex;
    }

    header {
        background-color: #ffffff;
    }
}