/* INTRODUCTION */
#introducao {
    display: flex;
    justify-content: space-between;
    min-height: calc(507.4px - 102px);
}

.texto {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: auto;
}

#introducao h1 {
    font-size: 3rem;
    color: #12131A;
    opacity: 0.82;
}

#introducao p {
    font-size: 1.3rem;
    color: #333333;
    opacity: 0.5;
    text-align: justify;
}

#introducao .imagem img {
    max-width: 80%;
    height: auto;
}


/* STEPS */

#passos{
    width: 90%;
    margin: auto;
    margin-top: 15%;
}

#passos .subtitulo {
    color: #5991B3;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#passos h2 {
    font-size: 2.5rem;
    color: #12131A;
}

#todos_passos {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#passos h3{
    color: #12131A;
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 600;
}

#todos_passos p{
    color: #000000;
    opacity: 0.5;
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
}

#passos img{
    margin-top: 30px;
    margin-bottom: 30px;
}

.etapa{
    margin-bottom: 200px;
}

/* USERS */ 

#usuarios{
    width: 90%;
    margin: auto;
}

#usuarios .subtitulo {
    color: #5991B3;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#usuarios h2 {
    font-size: 2.5rem;
    color: #12131A;
}

#todos_usuarios {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#usuarios h3{
    margin-top: 40px;
    color: #12131A;
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-weight: 600;
    width: 80%;
    margin: auto;
}

#usuarios img{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* CTA */
#cta {
    display: flex;
    justify-content: space-around;
    background-color: #313131;
    border-radius: 10px;
    max-width: 70%;
    min-height: 500px;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

#cta img {
    width: 500px;
    height: auto;
}

#texto {
    color: white;
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
}

#cta .btn-principal {
    background-color: #FAFAFA;
    color: #000000;
    cursor: pointer;
    min-width: 34%;
    height: 60px;
    margin-top: 20px;
}


/* RESPONSIVITY */
@media screen and (max-width: 1170px) {
    .imagem {
        display: none;
    }

    #btn-principal {
        width: 100%;
        align-items: center;
    }

    #introducao{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }

    #passos{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 40px 20px;
    }

    #todos_passos{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 40px 20px;
    }

    #usuarios{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 40px 20px;
    }

    #todos_usuarios{
        display: grid;
        grid-template-areas: 
            "usuario1 usuario2"
            "usuario3 usuario4";
        
    }

    #todos_usuarios #usuario1{
        grid-area: usuario1;
    }

    #todos_usuarios #usuario2{
        grid-area: usuario2;
    }

    #todos_usuarios #usuario3{
        grid-area: usuario3;
    }

    #todos_usuarios #usuario4{
        grid-area: usuario4;
    }

    .etapa{
        margin-bottom: 50px;
    }

    #cta {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
        max-width: 80%;
        min-height: auto;
        margin-top: 5%;
        margin-bottom: 20%;
    }

    #cta h2{
        text-align: center;
    }

    #texto {
        padding: 20px;
        align-items: center;
    }

    button{
        border-radius: 5px;
        padding: 10px;
    }

    .texto_responsivo {
        max-width: 100%;
        padding: 15px;
        text-align: center;
    }
}